<footer class="footer">
    <div class="footer-main">
        <p>Legales</p>
        <nav>
            <a href="#">Politicas de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Políticas de servicio</a>
        </nav>
    </div>
</footer>