<footer class="footer">
    <div class="footer-main">
        <div class="link-section">
            <p>Legales</p>
            <div class="terms">
                <a href="#" class="terms-link">Políticas de privacidad</a>
                <a href="#" class="terms-link">Términos y condiciones</a>
                <a href="#" class="terms-link">Políticas de servicio</a>
            </div>
        </div>
        
        <div class="social-network">
            <p>Síguenos</p>
            <div >
                <a href="#"><img src="/public/img/facebook-logo.png" alt="Logo facebook" class="social-image facebook-logo"></a>
                <a href="#"><img src="/public/img/instagram-logo.jpg" alt="Logo instagram" class="social-image instagram-logo"></a>
                <a href="#"><img src="/public/img/twitter-logo.jpg" alt="Logo twitter" class="social-image twitter-logo"></a>
            </div>
        </div>
        <div class="newsletter">
            <p class="subscribe">Suscríbete a nuestro newsletter</p>
            <form class="newsletter newsletter-form">
                <input type="email" name="newsletter" placeholder="Déjanos tu email" />
                <button>Enviar</button>
            </form>
        </div>
    </div>
    <p class="aviso">SistemaDePaneles. Todos los derechos reservados &copy;</p>
</footer>