<header class="header">
    <div class="header-div ">
        <a href="/" class="logo">
            <img src="/public/img/logo.png" class="logo-principal" alt="Logo">
        </a>
        
        <a href="/users/login" class="login">Iniciar sesión</a>
        <a href="/users/signup" class="register">Registrarme</a>
       
       
        
    </div>
    
</header>